* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Poppins";

  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #4d4f62;
  background: #fafafa;
}

h2 {
  font-weight: normal;
}
.card {
  width: 100%;
  height: 222px;
  flex-shrink: 0;
  margin-bottom: 25px;
  padding: 28px;

  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);

  position: relative;
}
footer {
}

/* Mobile screen */
@media screen and (min-width: 260px) {
  body {
    /* max-width: 311px; */
    margin-left: 32px;
    margin-right: 32px;
  }
  header {
    margin-top: 85px;
    text-align: center;
  }
  h1,
  h2 {
    font-size: 24px;
    letter-spacing: 0.167px;
    margin-bottom: 13px;
  }
  header p {
    opacity: 0.5;
    line-height: 25px;
    margin-bottom: 76px;
  }

  h3 {
    color: #4d4f62;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .card p {
    width: 254px;
    color: #4d4f62;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 176.923% */
    letter-spacing: 0.09px;
    opacity: 0.5;
  }

  .icon {
    width: 57px;
    height: 57px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    bottom: 28px;
    right: 28px;
  }
  .card:nth-child(1) .icon {
    background-image: url(./images/icon-supervisor.svg);
  }
  .card:nth-child(2) .icon {
    background-image: url(./images/icon-team-builder.svg);
  }
  .card:nth-child(3) .icon {
    background-image: url(./images/icon-karma.svg);
  }
  .card:nth-child(4) .icon {
    background-image: url(./images/icon-calculator.svg);
  }

  .card:nth-child(1) {
    border-top: hsl(180, 62%, 55%);
    border-top-width: 4px;
    border-top-style: solid;
  }
  .card:nth-child(2) {
    border-top: hsl(0, 78%, 62%);
    border-top-width: 4px;
    border-top-style: solid;
  }
  .card:nth-child(3) {
    border-top: hsl(34, 97%, 64%);
    border-top-width: 4px;
    border-top-style: solid;
  }
  .card:nth-child(4) {
    border-top: hsl(212, 86%, 64%);
    border-top-width: 4px;
    border-top-style: solid;
  }
}
/* Desktop screen */
@media screen and (min-width: 1440px) {
  header {
    margin-top: 85px;
    text-align: center;
  }
  h1,
  h2 {
    color: #4d4f62;
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.25px;
  }
  h1 {
    font-weight: 600;
  }
  h2 {
    font-weight: 275;
  }

  header {
    margin-bottom: 64px;
  }

  .card {
    width: 350px;
    height: 250px;
    flex-shrink: 0;
  }

  .container {
    display: grid;
    height: 670px;
    gap: 30px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 25% 50% 25%;

    align-items: center;
    max-width: 1000px;
    margin: auto;
  }
  .card:nth-child(1) {
    grid-column: 1;
    grid-row: 1/3;
  }

  .card:nth-child(2),
  .card:nth-child(3) {
    grid-column: 2;
  }

  .card:nth-child(4) {
    grid-column: 3;
    grid-row: 1/3;
  }
}
